/* color palette from <https://github.com/vuejs/theme> */
/* import "primeicons/primeicons.css"; */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html {
  font-size: 10px;
}

:root {
  --brand-dark-blue: #1a3364;

  --neutral-800: #161922;
  --neutral-700: #20232d;
  --neutral-500: #525866;
  --neutral-200: #e2e4e9;
  --neutral-100: #f6f8fa;
  --neutral-0: #ffffff;

  --gray-600: #475467;

  --text-color: #ffffff;

  --success-100: #d1fadf;
  --success-500: #12b76a;
}
